<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
	</head>
<body>
	<script src="packages/system.js"></script>
	<script>
		System.import("scripts/main.js");
	</script>
	{{{body}}}
</body>
</html>