<div class="container-fluid">
  <h4>Categories</h4>
  
  <div>
    <button ng-click="create()" type="button" class="btn btn-success">Create</button>
  </div>
  <table class="table table-striped">
    <thead>
    <th class="col-md-6">Identifier</div>
    <th class="col-md-6">Description</div>
    </thead>
    <tbody>
      <tr ng-repeat="category in ctrl.categories">
      <td><input type="button" class="btn btn-link" ng-click="edit(category._id)" value="{{ category._id }}"/></td>
      <td><input type="button" class="btn btn-link" ng-click="edit(category._id)" value="{{ category.description }}"/></td>
      <td><input type="button" class="btn btn-link" ng-click="delete(category._id)" value="Delete"/></td>
      </tr>
    </tbody>
  </table>  
</div>