<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<fieldset>
				<legend>menu</legend>
				<input type="button" ng-click="back()" class="btn btn-link" value="back" />
			</fieldset>
		</div>
		<div class="col-md-10">
			<h4>Category</h4>
			
            <!--<div class="alert alert-info">
                <div class="col-sm-3">
                    <label>Include the parent categories from level:</label>
                </div>
                <input type="number" ng-model="levelFilter" ng-change="levelFilterUpdate(levelFilter)" />
                <span>Level 0 is all categories</span>
            </div>-->
			<form novalidate class="form-horizontal">
				<input type="hidden" ng-model="category._id" />
				<div class="form-group">
					<div class="col-sm-2">
						<label>Vietnamese Description:</label>
					</div> 
					<div class="col-sm-2">
						<input type="text" ng-model="category.vietDescription"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label>Navigation Level: </label>
					</div>
					<div class="col-sm-2"> 
						<input type="number" ng-model="category.level" ng-change="levelFilterUpdate(category.level)"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label>English Description: </label>
					</div>
					<div class="col-sm-2">
						<input type="text" ng-model="category.description" />
					</div>
				</div>
                
                <div class="form-group">
					<div class="col-sm-2">
						<label>Parent Category: </label>
					</div>
					<div class="col-sm-2">
						<select ng-model="category.parentCategoryId">
                            <option value=undefined>--Remove--</option>
                            <option ng-selected="category.parentCategoryId === option._id" ng-repeat="option in data.categories" value="{{option._id}}" title="{{option.description}}">{{option.vietDescription}}</option>
                        </select>
					</div>
				</div>

				<div class="">
					<div class="col-sm-2">
						<label>Introduction: </label>
					</div>
					<div class="col-sm-2">
						<textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
						<button ng-click="getContent()">Get content</button>
						<button ng-click="setContent()">Set content</button>
					</div>
				</div>

				<button type="submit" ng-click="save(category)" class="btn btn-success">Save</button>
                
                <div class="control-group error" ng-show="errors">
                    <span class="help-inline" ng-bind="errorMessage"></span>
                </div>
			</form>
			
			<div style="display: none">
				<pre>Category = {{category | json}}</pre>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>