<link rel='stylesheet' href='/public/dist/styles/public.min.css' type='text/css' media='all' />

{{#if dev}}
	<script src="../jspm_packages/system.js"></script>
	<script src="../config.js"></script>
	<script>
		System.import("public/main");
	</script>
{{else}}
	<script src="/public/dist/build.js"></script>
{{/if}}

<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img alt="Hanoi Box" src="public/images/hanoi box long.png" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
            <!--<ul class="nav navbar-nav navbar-left">
                <li class="home"><a href="home">Home</a></li>
                <li class="active"><a href="blog">Blog</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="about">About</a></li>
            </ul>-->
        </div><!--/.nav-collapse -->
    </div><!--/.container -->
</div>