<bootstrap-navbar current-tab="Contact"></bootstrap-navbar>

<!--<div class="container">
    <uib-tabset>
        <uib-tab ng-repeat="tab in categoryTabs" 
                heading="{{tab.title}}" id="{{tab.id}}"
                active="tab.active" disable="tab.disabled"
                select="selectCategory(tab.id)">
            
            
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Please select
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">                 
                    <li ng-repeat="category in tab.categories" ng-click="selectedCategory(category.id)" title="{{category.description}}">
                        {{category.description}}
                    </li>
                </ul>
            </div>
            <select ng-model="categoryId">
                <option ng-repeat="option in tab.categories" value="{{option._id}}" title="{{option.description}}">{{option.vietDescription}}</option>   
            </select>
                        
            
        </uib-tab>
    </uib-tabset>
</div>-->